<!DOCTYPE html>
<html>
<head>
    <title>TodoList App</title>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="hero">
        <div class="container">
            <h1 class="display-2 text-center">To do List App</h1>
            <p class="lead text-center">Welcome to my todoList applications</p>
            <div class="row">
                <form method="post" class="col-lg-6 col-8 mx-auto">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="title" id="input" class="form-control" placeholder="Enter todo list item"
                            value="">
                        <span>
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </span>
                    </div>
                </form>
            </div>
        <div class="actions">
            <ul id="list" s class="list col-5 mx-auto mb-4">
                {% for todo in todos %}
                <li class="row mt-2  border ">
                    <span style="width: 22em;">{{ todo.title }}</span>
                    <div class="btn-group ">
                        <a href="{% url 'edit-todo' todo.id %}" class="btn btn-sm btn-primary edit-btn mr-4">Edit</a>
                        <form method="POST" action="{% url 'delete-todo' todo.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                       
                    </div>
                </li>
        
               
                {% endfor %}
            </ul>
        </div>
            <div class="row">
                <form method="post" action="{% url 'delete-all' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mx-auto btnHide">Clear</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>